<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>06_列表渲染</title>
</head>
<body>

<!--
1. 列表显示
  数组: v-for / index
  对象: v-for / key
2. 列表的更新显示
  删除item
  替换item
-->

<div id="demo">
  <h2>测试: v-for 遍历数组【经常用】</h2>
  <ul>
    <li v-for="(p, index) in persons" :key="index"><!--（左边p，右边index）p表示当前遍历出来的对象，index表示当前对象所在数组中的索引   :key="index" 列表一般会把索引添加出来，方便之后使用-->
      {{index}}--{{p.name}}--{{p.age}}
      --<button @click="deleteP(index)">删除</button>
      --<button @click="updateP(index, {name:'Cat', age: 16})">更新</button>
    </li>
  </ul>
  <button @click="addP({name: 'xfzhang', age: 18})">添加</button>



  <h2>测试: v-for 遍历对象【很少用】</h2>
  <ul>
    <!--key :对象的属性名  value：对象的属性值-->
    <li v-for="(value, key) in persons[1]" :key="key">{{key}}={{value}}</li>
  </ul>

</div>

<script type="text/javascript" src="../js/vue.js"></script>
<script type="text/javascript">
  new Vue({
    el: '#demo',
    data: {
      persons: [
        {name: 'Tom', age:18},
        {name: 'Jack', age:17},
        {name: 'Bob', age:19},
        {name: 'Mary', age:16}
      ]
    },

    methods: {
      deleteP(index) {
        console.log(this)
        // this.persons.splice(index, length)  index :元素在数组中的下标，然后从这个下标开始计算，删除length个元素
        this.persons.splice(index, 1)
      },

      updateP (index, newP) {
        console.log('updateP', index, newP)
        // vue根本就不知道   vue本身只是监视了persons的改变，没有监视数组内部数据的改变，但是没有调用变异方法，因此vue不会发生改变。
        //vue重写了数组中一系列改变数组内部数据的方法（先调用原生，更新界面）
        // this.persons[index] = newP
        // this.persons.splice(index, 1, newP)  index :元素在数组中的下标，然后从这个下标开始计算，删除length个元素，newP：新值
        this.persons.splice(index, 1, newP)
        // this.persons = []  这个符合vue的要求，对象会为空
      },

      addP (newP) {
        this.persons.push(newP)
      }
    }
  })
</script>
</body>
</html>